/* GLOBAL STYLES
-------------------------------------------------- */

/* Because IE is dumb */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* ---------------- Begin useful stiffs ----------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  color: #5a5a5a;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -630px;
  /* Pad bottom by footer height */
  padding: 0 0 630px;
}

/* Set the fixed height of the footer here */
#footer {
  margin-top: 40px;
  padding-top: 20px;
  height: 630px;
  background-color: #D9D9D9;
}

#footer p.text-center {
   margin-top: 20px;
}

#footer a {
   color: #b20014;
}

.btn-primary {
  background-color: #b20014;
  border-color: #7f1200;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #990011;
  border-color: #660e00;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-default {
  background-color: #b20014;
  border-color: #7f1200;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #FCFCFC;
	background-color: #7f1200;
}

.navbar-default .navbar-text {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FFFFFF;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus {
	color: #FFFFFF;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FCFCFC;
  background-color: #7f1200;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #7f1200;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #7f1200;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #FCFCFC;
  background-color: #7f1200;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-top: 50px;
  margin-bottom: 10px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  padding-bottom: 10px;
  bottom: 10px;
}

.carousel-caption p {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.2;
}

.carousel-caption h2 {
    font-size: 20px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 175px;
  background-color: #777;
  overflow: hidden;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
  overflow: hidden;
}

.carousel-indicators li {
  display: none;
}

.carousel-control {
  opacity: 0;
  filter: alpha(opacity=0);
}

.no-carousel {
	margin-top: 80px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Story
------------------------- */

.story {
	padding-top: 0px; /* Vertically center images part 1: add padding above and below text. */
	overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

.story-divider {
	margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

.story-image {
	margin-top: 15px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
	margin-bottom: 30px;
	padding-right: 0px;
	padding-left: 0px;
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.story-image.pull-left {
	margin-right: 40px;
}

.story-image.pull-right {
	margin-left: 40px;
}

/* Thin out the marketing headings */
.story-heading {
	font-size: 40px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.team p, .team h1, .team h2, .team h3 {
	text-align: center;
}

.team img {
	display: block;
	height: 140px;
	width: 140px;
	margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}



/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 480px) {

	.carousel .item {
	  height: 250px;
	}
	
	.carousel-indicators li {
  		display: inline-block;
  	}
  	
  	.carousel-caption {
  	  padding-bottom: 30px;
  	  bottom: 20px;
  	}
  	
  	.carousel-caption p {
		margin-bottom: 20px;
	}
	
	#wrap {
	  /* Negative indent footer by its height */
	  margin: 0 auto -750px;
	    /* Pad bottom by footer height */
      padding: 0 0 750px;
	}
	
	  /* Set the fixed height of the footer here */
	#footer {
	  height: 750px;
	}
}

@media (min-width: 606px) {

	.carousel .item {
		height: 300px;
	}


}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FCFCFC;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #7f1200;
    background-color: #DEDEDE;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  

  /* Bump up size of carousel content */
  .carousel {
	  margin-top: 0px;
	  margin-bottom: 50px;
	}
	
	.carousel .item {
	  height: 400px;
	}
	
   .carousel-caption h2 {
    	font-size: 28px;
    }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  
  	#wrap {
	  /* Negative indent footer by its height */
	  margin: 0 auto -390px;
	  /* Pad bottom by footer height */
      padding: 0 0 390px;
	}
  
  /* Set the fixed height of the footer here */
	#footer {
	  height: 390px;
	}

}

@media (min-width: 992px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  
	/* Declare heights because of positioning of img element */
	.carousel .item {
	  height: 500px;
	}
	
	/* ----------- STORY ---------------------------- */
  
	.story-heading {
		font-size: 42px;
	}
	
	.story-image {
		margin-bottom: 10px;
	}
	
	.story-divider {
		margin: 80px 0; /* Space out the Bootstrap <hr> more */
	}
  
  
}

@media (min-width: 1200px) {
	.carousel .item {
		height: 700px;
	}

	#wrap {
		/* Negative indent footer by its height */
		margin: 0 auto -310px;
		/* Pad bottom by footer height */
		padding: 0 0 310px;
	}
	
	/* ----------- STORY ---------------------------- */

	.story-heading {
		font-size: 50px;
	}

	.story {
		padding-top: 10px; /* Vertically center images part 1: add padding above and below text. */
	}

	.story-image {
		margin-top: -10px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
	}

	/* Set the fixed height of the footer here */
	#footer {
		height: 310px;
	}
}