/* GLOBAL STYLES
-------------------------------------------------- */

/* Because IE is dumb */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* ---------------- Begin useful stiffs ----------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  color: #5a5a5a;
}

.btn-primary {
  background-color: #b20014;
  border-color: #7f1200;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #990011;
  border-color: #660e00;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-default {
  background-color: #b20014;
  border-color: #7f1200;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #FCFCFC;
	background-color: #7f1200;
}

.navbar-default .navbar-text {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FFFFFF;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus {
	color: #FFFFFF;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FCFCFC;
  background-color: #7f1200;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #7f1200;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #7f1200;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #FCFCFC;
  background-color: #7f1200;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-top: 50px;
  margin-bottom: 10px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  padding-bottom: 10px;
  bottom: 10px;
}

.carousel-caption p {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.2;
}

.carousel-caption h2 {
    font-size: 20px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 250px;
  background-color: #fff;
  overflow: hidden;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
  overflow: hidden;
}

.carousel-indicators li {
  display: none;
}

.carousel-control {
  opacity: 0;
  filter: alpha(opacity=0);
}

.no-carousel {
	margin-top: 80px;
}

/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity 1s; /*adjust timing here */
         -moz-transition: opacity 1s;
           -o-transition: opacity 1s;
              transition: opacity 1s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right img {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right img {
    opacity: 0;
    z-index: 2;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Story
------------------------- */

.story {
	padding-top: 0px; /* Vertically center images part 1: add padding above and below text. */
	overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

.story-divider {
	margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

.story-image {
	margin-top: 15px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
	margin-bottom: 30px;
	padding-right: 0px;
	padding-left: 0px;
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.story-image.pull-left {
	margin-right: 40px;
}

.story-image.pull-right {
	margin-left: 40px;
}

/* Thin out the marketing headings */
.story-heading {
	font-size: 40px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.team-carousel {

	margin-top: 40px;
}

.team-carousel .carousel-inner {
	width: 140px;
	margin: 0px auto;
	z-index: 5;
}

/* Declare heights because of positioning of img element */
.team-carousel .item {
  	height: 140px;
  	width: 140px;
  	background-color: #fff;
  	overflow: hidden;
}

.team p, .team h1, .team h2, .team h3 {
	text-align: center;
}

.team img {
	display: block;
	height: 140px;
	width: 140px;
	margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


/* Instafeed
------------------------- */
#instafetches {
	padding: 12px;
}

.insta {
	padding: 3px;
}

.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-32 { width: 32px; height: 32px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-32 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png); background-size: 60px 178px; } }

/* Responsive iFrame */

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.responsive-iframe-container object,  
.responsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.twit {
	height: 500px;
}


/* FOOTER
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -660px;
  /* Pad bottom by footer height */
  padding: 0 0 660px;
}

/* Set the fixed height of the footer here */
#footer {
  margin-top: 40px;
  padding-top: 20px;
  height: 660px;
  background-color: #D9D9D9;
}

#footer p.text-center {
   margin-top: 20px;
}

#footer a {
   color: #b20014;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 480px) {

	.carousel .item {
	  height: 300px;
	}
	
	.carousel-indicators li {
  		display: inline-block;
  	}
  	
  	.carousel-caption {
  	  padding-bottom: 30px;
  	  bottom: 20px;
  	}
  	
  	.carousel-caption p {
		margin-bottom: 20px;
	}
	
	.team-carousel .item {
		height: 140px;
	}
	
	#wrap {
	  /* Negative indent footer by its height */
	  margin: 0 auto -750px;
	    /* Pad bottom by footer height */
      padding: 0 0 750px;
	}
	
	  /* Set the fixed height of the footer here */
	#footer {
	  height: 750px;
	}
}

@media (min-width: 606px) {

	.carousel .item {
		height: 400px;
	}
	
	.team-carousel .item {
		height: 140px;
	}


}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FCFCFC;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #7f1200;
    background-color: #DEDEDE;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  

  /* Bump up size of carousel content */
  .carousel {
	  margin-top: 0px;
	  margin-bottom: 50px;
	}
	
	.carousel .item {
	  height: 500px;
	}
	
   .carousel-caption h2 {
    	font-size: 28px;
    }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  
	.team-carousel {
		margin-top: 40px;
		margin-bottom: 0px;
	}

	.team-carousel .item {
		height: 140px;
	}
  
	.twit {
		height: 600px;
	}
  
  	#wrap {
	  /* Negative indent footer by its height */
	  margin: 0 auto -410px;
	  /* Pad bottom by footer height */
      padding: 0 0 410px;
	}
  
  /* Set the fixed height of the footer here */
	#footer {
	  height: 410px;
	}

}

@media (min-width: 992px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  
	/* Declare heights because of positioning of img element */
	.carousel .item {
	  height: 600px;
	}
	
	/* ----------- STORY ---------------------------- */
  
	.story-heading {
		font-size: 42px;
	}
	
	.story-image {
		margin-bottom: 10px;
	}
	
	.story-divider {
		margin: 80px 0; /* Space out the Bootstrap <hr> more */
	}
	
	.team-carousel .item {
		height: 140px;
	}
	
	.twit {
		height: 580px;
	}
  
  
}

@media (min-width: 1200px) {
	.carousel .item {
		height: 700px;
	}

	#wrap {
		/* Negative indent footer by its height */
		margin: 0 auto -310px;
		/* Pad bottom by footer height */
		padding: 0 0 310px;
	}
	
	/* ----------- STORY ---------------------------- */

	.story-heading {
		font-size: 50px;
	}

	.story {
		padding-top: 10px; /* Vertically center images part 1: add padding above and below text. */
	}

	.story-image {
		margin-top: -10px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
	}
	
	.team-carousel .item {
  		height: 140px;
  		width: 140px;
  		background-color: none;
  		overflow: hidden;
	}
	
	.twit {
		height: 800px;
	}

	/* Set the fixed height of the footer here */
	#footer {
		height: 310px;
	}
	
	/* ----------- Contact Envelope ---------------------------- */

	.contact-form {
		margin-top:70px;
}
	/* ----------- Alternate Picture ---------------------------- */
	.alternate{
	width:140px;
	display: table;
	margin: 0 auto;
	}

	.alternate img#alternate,
	.alternate:active img#normal {
			display: none;
	}

	.alternate img#normal,
	.alternate:active  img#alternate {
			display: block;
	}

}

@media (min-width: 1400px) {
	.carousel .item {
		height: 900px;
	}
	
	.team-carousel .item {
		height: 140px;
	}
}

@media (min-width: 1600px) {
	.carousel .item {
		height: 1000px;
	}
	
	.team-carousel .item {
		height: 140px;
	}
}
	
	/* ----------- Responsive Video ---------------------------- */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container-media {
    position: relative;
    padding-bottom: 26%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container-media iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}



